[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:MohitRane8/nvim-basic-ide.git
[submodule "zsh/.config/zsh/plugins/zsh-vi-mode"]
	path = zsh/.config/zsh/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
